@import url('https://fonts.googleapis.com/css?family=Fascinate+Inline%7CRaleway&display=swap');


img {
	max-width: 25%;
	margin-right:10px;
	min-width: 100px;
	margin-bottom: 10px;
	border-radius: 8px;

}

h1 {
	font-family: "Fascinate Inline", cursive;
	font-size: 40px;
	font-weight: normal;
	text-align: center;
	padding-top: 12px;
	display: inline-block;
	color: #ffffff;
}

header{
	padding-top:10px;
	text-align: center;
}
h2 {
	font-family: "Raleway", sans-serif;
	font-weight: bold;

}
body {
	font-family: "Raleway", sans-serif;
	color: #2c302e;
	background-color: #ffffff;
	margin: auto;
	padding-top: 14px;
	text-align: center;
	overflow: hidden;
	position: relative;
}
main {
	text-align: left;
	padding: 10px;
	
}
main, header, #color-block, footer{
	width: 400px;
	max-width: 100%;
	margin: auto;
}

#colorBlock{
	background-color: #e55261;
	height: 80px;
	position: relative;
	z-index: -1;
	border-radius: 8px;
	top: 100px;
}

p {
	padding-bottom: 0px;
	margin-bottom: 0px;
	margin-top: 0px;
}

#updated{
	font-size: 13px;
	color: #2c302e;
}

footer {
	clear:right;
	background-color: #e55261;
	border-radius: 8px;
	padding-top: 8px;
	padding-bottom: 8px;
	color: #ffffff;
}
a {
	color: #71b7a1;
}
footer a {
	color: #ffffff;
}

@media screen and (min-width: 329px) {
	img {
		float: right;
	}
	main, header, #colorBlock, footer{
		width: 600px;
	}
}

