@media only screen and (min-width: 35em){
	nav button {display:none;}
	nav ul.hide{
		display: inline;
	}
	nav{
		text-align: center;
	}
	nav ul {
		display: inline;
		margin-left: 2%;
		text-align: center;
		margin: auto;
		border-collapse: collapse;
	}
	nav ul li {
		/*float: left;*/
		display:inline-block;
		margin:0;
	}

	nav ul li a {
		border: none;
		padding: .8rem 1rem;
	}

	h1{
		font-size: 5vw;
	}

	main, footer{
		width:35rem;
	}
	footer{
		margin: auto;
		padding:5px;
	}

	header img{
		width: 50%;
	}
}