@import url('https://fonts.googleapis.com/css?family=Baloo+Paaji|Open+Sans&display=swap');

html {
	box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
}

/*Mobile View and standard styles*/
body{
	font-family: "Open Sans", sans-serif;
	background-color: #d9e9f4;
	color: #232528;
}

h1, h2, h3 {
	font-family: "Baloo Paaji", sans-serif;
	text-align: center;
}

h1{
	font-size: 7vw;
	color:#115270;
}

header, footer{
	background-color: #232528;
	text-align: center;
	color: #eaf6ff;
}
header img {
	max-width: 75%;
	padding:10px;
}
header #motto{
	font-style: italic;
}
nav {
	background-color: rgba(0,0,0,.2);
	margin-top: 10px;
}

nav button{
	margin:.2rem 2%;
	background-color: transparent;
	border:none;
	font-size: 1.6rem;
	color:#eaf6ff;
	font-family: "Open Sans", sans-serif;
	width:100%;
	text-align: center;
	padding-bottom:8px;
	margin:0;
}
nav button:hover{
	cursor: pointer;
}

nav button #menuLabel{
	font-size: 1.2rem;
}

nav ul {
	list-style-type: none;
	padding:0;
	margin:0;
}

nav ul li a{
	display: block;
	padding: .8rem 2%;
	text-decoration: none;
	color:#eaf6ff;
	border-top: 1px solid rgba(234, 246, 255,0.2);
}
nav ul li.active a{
	background-color: rgba(234, 246, 255,0.2);
}
nav ul li a:hover{
	background-color: rgba(234, 246, 255,0.2);
	color:#1da6d3;
}
nav ul.hide, nav button #hamburger.hide, nav button #close.hide{display:none;}


.clearfix:after {
	content: "";
	display: table;
	clear: both;
}


main{
	max-width: 95%;
	margin: auto;
}
 .homeBox{
 	padding: 10px;
 	margin: 10px;
 	background-color: #f7fcff;
 	border-radius: 10px;
 }

 footer{
 	font-size: .8em;
 	padding:10px;
 }

