main{
	text-align: center;
}

h1{
	margin-bottom: 0;
}

article{
	background-color: white;
	display: grid;
	grid-template-columns: 1fr;
	grid-gap: 10px;
	padding: 10px;
}

article div{
	align-self: center;
	text-align: center;
}

article div p{
	margin-top: 0px;
}
article div p, article h2{
	text-align: left;
}

section, article{
	margin: 10px;
}

section>div{
	display: grid;
	grid-template-columns: 1fr;
	grid-gap: 10px;
}

section>div div{
	background-color: white;
}

section h3{
	font-size: 150%;
	margin: 5px 3px 0px;
	padding: 0px;
}

section h4{
	font-size: 80%;
}
