@media only screen and (min-width: 41em){
	nav button {display:none;}
	nav ul.hide{
		display: inline;
	}
	nav{
		text-align: center;
	}
	nav ul {
		display: inline;
		margin-left: 2%;
		text-align: center;
		margin: auto;
		border-collapse: collapse;
	}
	nav ul li {
		display:inline-block;
		margin:0;
	}

	nav ul li a {
		border: none;
		padding: .8rem 1rem;
	}

	h1{
		font-size: 275%;
	}

	main, footer{
		max-width:43rem;
	}
	footer{
		margin: auto;
		padding:5px;
		margin-top: 0;
	}

	header img{
		width: 50%;
	}

	#contact{
		display:flex;
		justify-content: center;
	}

	#contact #map{
		display:block;
		width:150px;
		margin:5px;
	}

	article.hp{
		grid-template-columns: 1fr 2fr;
	}

	section.hp>div>div{
		display: flex;
		flex-direction: row;
		align-content: center;
	}

	section.hp>div>div:nth-child(even){
		flex-direction: row-reverse;
	}

	section.hp>div>div>div{
		width:50%;
		align-self: center;
	}

	#article{
		display: block;
	}
	#weatherSummary{
		top: 20px;
		left:30px;
	}

	#article img{
		width: 45%;
		float: right;
		padding:5px;
	}

	#article img.preview{
		width:200px;
	}
	
	#fiveDay{
		display:block;
		margin: auto;
	}

	main.gallery div{
		grid-template-columns: 1fr 1fr;
	}

	main.gallery{
		max-width:43rem;
	}

}