
img{
	max-width: 100%;
}
html {
	box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
}

body{
	font-family: "Open Sans", sans-serif;
	background-color: #d9e9f4;
	color: #232528;
	margin:0;
}

p{
	line-height: 1.5;
}

h1, h2, h3 {
	font-family: "Baloo Paaji", sans-serif;
	text-align: center;
}

h1{
	font-size: 7vw;
	color:#115270;
}
h2{
	font-size: 1.3em;
	margin-bottom: 2px;
	margin-top: 2px;
}
h3{
	font-size: .8em;
	font-style: italic;
	color:#115270;
}
h4{
	margin-top: 0;
}

header, footer{
	background-color: #232528;
	text-align: center;
	color: #eaf6ff;
}
header img {
	max-width: 75%;
	padding:10px;
}
header #motto{
	font-style: italic;
}
nav {
	background-color: rgba(0,0,0,.2);
	margin-top: 10px;
}

nav button{
	margin:.2rem 2%;
	background-color: transparent;
	border:none;
	font-size: 1.6rem;
	color:#eaf6ff;
	font-family: "Open Sans", sans-serif;
	width:100%;
	text-align: center;
	padding-bottom:8px;
	padding-top: 3px;
	margin:0;
}
nav button:hover{
	cursor: pointer;
}

nav button #menuLabel{
	font-size: 1.2rem;
}

nav ul {
	list-style-type: none;
	padding:0;
	margin:0;
}

nav ul li a{
	display: block;
	padding: .8rem 2%;
	text-decoration: none;
	color:#eaf6ff;
	border-top: 1px solid rgba(234, 246, 255,0.2);
}
nav ul li.active a{
	background-color: rgba(234, 246, 255,0.2);
}
nav ul li a:hover{
	background-color: rgba(234, 246, 255,0.2);
	color:#1da6d3;
}
nav ul.hide, nav button #hamburger.hide, nav button #close.hide{display:none;}


main{
	margin: auto;
}

footer{
 	font-size: .8em;
 	padding:0px;
 	padding-bottom: 10px;
}

footer a{
	color: #edab31;
}

#contact{
	background-color: #101213;
	color: #eaf6ff;
	padding:5px;
}

#contact #map{
	display: none;
	margin:0;
}

#contact img.social{
	height: 30px;
	padding:5px;
}

article{
	background-color: white;
	display: grid;
	grid-template-columns: 1fr;
	grid-gap: 10px;
	padding: 10px;
}

article div{
	align-self: center;
	text-align: center;
}

article div p{
	margin-top: 0px;
}
article div p{
	text-align: left;
}

section, article{
	margin: 10px;
}

section>div{
	display: grid;
	grid-template-columns: 1fr;
	grid-gap: 10px;
	text-align: center;
}

section>div div{
	background-color: white;
}

section h3{
	font-size: 150%;
	margin: 5px 3px 0px;
	padding: 0px;
}

section h4{
	font-size: 80%;
}

#banner{
	background-color: #edab31;
	text-align: center;
	font-weight: bold;
	margin:0;
	padding:8px;
	display: none;
}

#weatherSummary{
	background-color: rgba(29, 166, 211, 0.7);
	width: 200px;
	padding:5px;
	position: absolute;
	top: 10px;
	left:20px;
	font-size: 90%;
}

#weatherSummary h2{
	margin-top:0;
	margin-bottom:5px;
}
.left{
	text-align: right;
	font-weight: bold;
}

.right{
	color: #eaf6ff;
}
#curWeather{
	display: grid;
	grid-template-columns: 1.1fr 1fr;
	grid-gap: 5px;

}

#hero{
	position: relative;
}
#hero picture{
	position:relative;
}

#fiveDay{
	display: none;
}

table th{
	background-color: white;
	padding:3px;
	width:70px;
}

table td{
	background-color: #edab31;
	text-align: center;
}

table td img{
	width:50px;
	padding:3px;

}
table td p{
	margin:0;
}
table{
	margin: auto;
}

.full {
	display: none;
}

.upcoming{
	background-color: rgb(29, 166, 211);
	padding: 10px;
	

}

.events p{
	margin:0;
	color: white;
}

main form{
	display: grid;
	grid-template-columns: 1fr;
	grid-gap: 15px;
	margin:auto;
	margin-bottom: 10px;
	padding: 15px;
	max-width: 400px;
	text-align: left;
	background-color: #232528;
	color: #eaf6ff;
}

label, input, select, textarea{
	display: block;
	width:100%;
}

form fieldset{
	border: 1px solid #eaf6ff;
}

fieldset legend{
	color:#1da6d3;
	padding: 0 4px;
}

form label{
	font-size: 80%;
	padding-top: 12px;
}

label.tight{
	font-size: 100%;
	padding-top: 3px;
}
label span{
	font-size: 110%;
}

input[type="submit"], div button{
	background-color: white;
	color:#1da6d3;
	width: 50%;
	padding: 10px 0px;
	margin-left: 16px;
	transition: background-color linear .2s, transform linear .2s;
}
input[type="submit"]:hover{
	cursor:pointer;
	background-color: #1da6d3;
	color:white;
}
input[type="submit"]:active{
	transform: scale(0.98);
}


form, fieldset, input, textarea{
	border-radius: 5px;
}

input, textarea, select{
	border: none;
	padding: 8px 5px;
	color: #115270;
}

.inline{
	width: initial;
	display: inline-block;
	padding:0;
}
input[type="range"]{
	width: 80%;
}

div.thanks{
	text-align: center;
	margin-bottom: 10px;
}

main.gallery{
	max-width: 400px;
}

main.gallery div{
	display: grid;
	grid-template-columns: 1fr;
	grid-gap: 15px;
	margin:auto;
	padding: 0 15px 15px 15px;
	margin-bottom: 10px;

}


main.gallery div figure{
	margin:0;
	background-color: white;
}

main.gallery div figure figcaption{
	padding: 5px;
}
