@media only screen and (min-width: 64rem){
	nav ul li a{
		padding: .6rem 1rem;
	}
	h1{
		font-size: 3em;
	}

	main, footer{
		max-width: 60rem;
	}

	header img{
		width:30%;
	}

	#weatherSummary{
		width:250px;
		padding:20px;
	}
}