@import url('https://fonts.googleapis.com/css?family=Baloo+Paaji|Open+Sans&display=swap');

header {
	background-color: #232528;
	margin:0;
	text-align: center;
	padding: 10px;
}

body {
	margin:0;
	padding:0;
	font-family: 'Open Sans', sans-serif;
	background-color: #d9e9f4;
	color: #232528;
}

header img{
	max-width: 80%;
}

header a{
	color: #eaf6ff;
	text-decoration: none;
	padding: 9px;
	margin: 5px;
	width:100%;
}

header a:hover{
	background-color: #1da6d3;
	color: #232528;
	border-radius: 10px;
}

nav {
	display: flex;
	flex-wrap: wrap;
}

h1, h2, h3 {
	font-family: 'Baloo Paaji', cursive;
}

h1 {
	color:#1da6d3;
	font-size: 50px;
	margin:5px;
	padding:0;
}
h2 {
	color:#edab31;
	margin-top:5px;
	padding:0;
}
section {
	background-color: #eaf6ff;
	border-radius: 8px;
	padding:10px;
	margin:10px;
}

section img{
	max-width: 100%;
	background-color: #232528;
}

section table, section ol{
	text-align: left;
}
section ol{
	margin:0;
}
table{
	border-collapse: collapse;
}
table th{
	background-color: #1da6d3;
	color:#eaf6ff;
}
table th, table td{
	border: 1px solid #232528;
}

main{
	display: grid;
	grid-template-columns: 1fr;
}
/*Tablet view*/
@media screen and (min-width: 600px) {
	header img{
		width: 75%;
	}
	nav {
		flex-wrap: nowrap;
		margin-left: 20%;
		margin-right: 20%;
	}
	main{
		grid-template-columns: 1fr 1fr;
	}
}
/*Desktop View*/
@media screen and (min-width: 992px) {
	header img{
		width:30%;
	}
	main{
		grid-template-columns: 1fr 1fr 1fr;
		margin-left:10%;
		margin-right:10%;
	}
}

