@import url('https://fonts.googleapis.com/css?family=Baloo+Paaji|Open+Sans&display=swap');

header {
	background-color: #232528;
	margin:0;
	text-align: center;
	padding: 10px;
}

body {
	margin:0;
	padding:0;
	font-family: 'Open Sans', sans-serif;
	background-color: #eaf6ff;
}

header img{
	max-width: 33%;
}

header a{
	color: #eaf6ff;
	text-decoration: none;
	padding: 9px;
}

header a:hover{
	background-color: #1da6d3;
	color: #232528;
}

h1, h2, h3 {
	font-family: 'Baloo Paaji', cursive;
}