@import url('https://fonts.googleapis.com/css?family=Baloo+Paaji|Open+Sans&display=swap');

header {
	background-color: #232528;
	margin:0;
	text-align: center;
	padding: 10px;
}

body {
	margin:0;
	padding:0;
	font-family: 'Open Sans', sans-serif;
	background-color: #eaf6ff;
}

header img{
	max-width: 80%;
}

header a{
	color: #eaf6ff;
	text-decoration: none;
	padding: 9px;
	margin: 5px;
	width:100%;
}

header a:hover{
	background-color: #1da6d3;
	color: #232528;
}

nav {
	display: flex;
	flex-wrap: wrap;
}

h1, h2, h3 {
	font-family: 'Baloo Paaji', cursive;
}

/*Tablet view*/
@media screen and (min-width: 600px) {
	header img{
		width: 75%;
	}
	nav {
		flex-wrap: nowrap;
		margin-left: 20%;
		margin-right: 20%;
	}
}
/*Desktop View*/
@media screen and (min-width: 992px) {
	header img{
		width:30%;
	}
}